.center {
  background-color: black;
  color: white;
  margin-top: 40%;
  margin-left: 40%;
}
.but {
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 2px;
  background-color: transparent;
  border-color: aliceblue;
}
.move-button {
  width: 120px;
  height: 120px;
  border-color: aliceblue;
  border: 2px;
  border-color: aliceblue;
}

.but:hover {
  background-color: brown;
  transition: 2.5s;
}
.move-icon {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px;
  border-color: aliceblue;
}
